<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaunchNextUpdateRepositoryOwner</key>
	<string>$(LAUNCHNEXT_UPDATE_REPOSITORY_OWNER)</string>
	<key>LaunchNextUpdateRepositoryName</key>
	<string>$(LAUNCHNEXT_UPDATE_REPOSITORY_NAME)</string>
</dict>
</plist>
